<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="favicon" href="{{ url_for('static', filename='css/public/image2@3x.png') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=This Is The Future:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sansation Light:wght@300&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bright Sunshine Demo:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=CEURETAS:wght@700&display=swap" />
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="base">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='css/public/image2@3x.png') }}" width="50" height="50" alt="" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 search-form" >
        <div class="input-group" style="right:5px;">
          <input class="base-child" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" id="btndesign" type="submit">
            <img class="group-icon" alt="" src="{{url_for('static',filename='css/public/group.svg')}}" />
          </button>
        </div>
      </form>
    </div>
  </nav> -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img id="logo" src="{{ url_for('static', filename='css/public/image2@3x.png') }}" alt="Logo" draggable="false"
            height="50" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left links -->
          <!-- <ul class="navbar-nav me-3">
            <li class="nav-item">
              <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
                  class="fas fa-bars pe-2"></i>Menu</a>
            </li>
          </ul> -->
          <!-- Left links -->

          <form action=/search_results class="d-flex align-items-center w-100 form-search" method=POST>
            <div class="input-group">
              <!-- <button class="btn btn-light dropdown-toggle shadow-0" type="button" data-mdb-toggle="dropdown"
                aria-expanded="false" style="padding-bottom: 0.4rem;">
                All
              </button>
              <ul class="dropdown-menu dropdown-menu-dark fa-ul">
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i class="fas fa-search"></i></span>All</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2">
                    <i
                        class="fas fa-film"></i></span>Titles</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i class="fas fa-tv"></i></span>TV
                    Episodes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i
                        class="fas fa-user-friends"></i></span>Celebs</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i
                        class="fas fa-building"></i></span>Companies</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i
                        class="fas fa-key"></i></span>Keywords</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i
                        class="fas fa-search-plus"></i></span>Advanced
                    search<i class="fas fa-chevron-right ps-2"></i></a>
                </li>
              </ul> -->
              <input type="search" class="form-control" placeholder="Search" aria-label="Search" id=search
                name=search />
            </div>
            <!-- <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a> -->
          </form>

          <ul class="navbar-nav ms-3">
            <li class="nav-item me-3">
              <a class="nav-link d-flex align-items-center" href="#!" id="Filterbtn">Filters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="{{url_for('community')}}">
                Community
              </a>
            </li>
            {% if session['loggedin'] %}
            <li class="nav-item" style="width: 65px;">
              <a class="nav-link d-flex align-items-center" href="{{url_for('profile')}}">Profile</a>
            </li>
            <li class="nav-item" style="width: 75px;">
              <a class="nav-link d-flex align-items-center" href="{{url_for('logout')}}" onclick="alert('sign out successful!')">Sign out</a>
            </li>
            {% else %}
            <li class="nav-item" style="width: 65px;">
              <a class="nav-link d-flex align-items-center" href="{{url_for('login')}}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    {% block twdidp %}
    {% endblock %}


    <!-- <input class="base-child" type="search" placeholder="Search" />
    <button class="iconizer-145609521543238917-1">
      <img class="group-icon" alt="" src="./public/group.svg" />
    </button>
    <nav class="nav-bar">
      <button class="image-2"></button>
      <div class="community-parent">
        <button class="community">Community</button>
        <button class="login">Login</button>
      </div>
    </nav> -->
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
  <div id="filter_modal" class="filter_overlay">
    <div class="frame-group">
      <button class="done-wrapper">
        <div class="done">DONE</div>
      </button>
      <div class="genres-wrapper"><b class="genres">Genres</b></div>
      <div class="rated-more-than-wrapper">
        <b class="rated-more-than">Rated more than</b>
      </div>
      <div class="language-wrapper">
        <b class="rated-more-than">Language</b>
      </div>
      <div class="released-after-wrapper">
        <b class="rated-more-than">Released after</b>
      </div>
      <div class="adventure">Adventure</div>
      <div class="english">English</div>
      <div class="hindi">Hindi</div>
      <div class="parent">
        <div class="div">0</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="group">
        <div class="div">1950</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="container1">
        <div class="div">1970</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="frame-div">
        <div class="div">1980</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent1">
        <div class="div">1990</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent2">
        <div class="div">2000</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent3">
        <div class="div">2010</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent4">
        <div class="div">2020</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent5">
        <div class="div8">1960</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent6">
        <div class="div">5</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent7">
        <div class="div">1</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent8">
        <div class="div">6</div>
        <input class="ellipse-input" type="checkbox" />
      </div>
      <div class="parent9">
        <div class="div12">2</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="parent10">
        <div class="div12">7</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="parent11">
        <div class="div14">3</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="parent12">
        <div class="div14">8</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="parent13">
        <div class="div14">4</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="parent14">
        <div class="div14">9</div>
        <input class="frame-child13" type="checkbox" />
      </div>
      <div class="action">Action</div>
      <div class="german">German</div>
      <div class="chinese">Chinese</div>
      <div class="comedy">Comedy</div>
      <div class="japanese">Japanese</div>
      <div class="korean">Korean</div>
      <div class="crime">Crime</div>
      <div class="drama">Drama</div>
      <div class="fantasy">Fantasy</div>
      <div class="horror">Horror</div>
      <div class="mystery">Mystery</div>
      <div class="omance">Romance</div>
      <div class="suspense">Suspense</div>
      <div class="sci-fi">Sci-Fi</div>
      <div class="thriller">Thriller</div>
      <input class="rectangle-input" type="checkbox" /><input class="frame-child19" type="checkbox" /><input
        class="frame-child20" type="checkbox" /><input class="frame-child21" type="checkbox" /><input
        class="frame-child22" type="checkbox" /><input class="frame-child23" type="checkbox" /><input
        class="frame-child24" type="checkbox" /><input class="frame-child25" type="checkbox" /><input
        class="frame-child26" type="checkbox" /><input class="frame-child27" type="checkbox" /><input
        class="frame-child28" type="checkbox" /><input class="frame-child29" type="checkbox" /><input
        class="frame-child30" type="checkbox" /><input class="frame-child31" type="checkbox" /><input
        class="frame-child32" type="checkbox" /><input class="frame-child33" type="checkbox" /><input
        class="frame-child34" type="checkbox" /><input class="frame-child35" type="checkbox" />
      <div class="rectangle-div"></div>
      <div class="frame-child36"></div>
      <div class="frame-child37"></div>
    </div>
  </div>
  <script>
    var modal = document.getElementById("filter_modal");

    // // Get the link that opens the modal
    var openBtn = document.getElementById("Filterbtn");
    var x = 0;

    openBtn.addEventListener("click", openmodal);
    function openmodal() {
      if (x % 2 === 0) {
        modal.style.display = "block";
        x = x + 1;
      }
      else {
        modal.style.display = "none";
        x = x + 1;
      }
    }
  </script>
</body>

</html>