{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
{% endblock %}

{% block content %}

<div class="mainpage-without-login1">
  <div class="movie-homepage-1">
    <div class="row">
      <div class="display col-md-6">
        <div class="frame"></div>
        <button class="display-inner">
          <img class="frame-child" alt="" src="{{url_for('static',filename='css/public/ellipse-5.svg')}}" />
        </button>
        <button class="display-child">
          <img class="frame-item" alt="" src="{{url_for('static',filename='css/public/ellipse-2.svg')}}" />
        </button>
        <button class="frame-button">
          <img class="frame-child" alt="" src="{{url_for('static',filename='css/public/ellipse-5.svg')}}" />
        </button>
        <button class="display-inner1">
          <img class="frame-child" alt="" src="{{url_for('static',filename='css/public/ellipse-5.svg')}}" />
        </button>
        <button class="display-inner2">
          <img class="frame-child" alt="" src="{{url_for('static',filename='css/public/ellipse-5.svg')}}" />
        </button>
      </div>
      <div class="community1 col-md-4">
        <div class="community-child"></div>
        <div class="frame-parent" id="frameContainer">
          <button class="wp5558867-aesthetic-profile-pi-wrapper">
            <!-- <img class="wp5558867-aesthetic-profile-pi-icon" alt=""
            src="{{url_for('static',filename='css//public/wp5558867aestheticprofilepicturewallpapers-1@2x.png')}}" /></button> -->
            <button class="winniethepooh">WinnieThePooh | </button>
            <div class="mar-1-2023">Mar 1, 2023</div>
            <div class="lorem-ipsum-dolor">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Convallis a cras semper auctor neque vitae.
            </div>
            <div class="title-of-the">Title of the Post</div>
            <img class="path-icon" alt="" /><button class="icon-color-container">
              <img class="icon-color1" alt=""
                src="{{url_for('static',filename='css/public/iconcolor1.svg')}}" /></button>
            <button class="top-in-community">Top in Community</button>
            <button class="icon-color-frame">
              <img class="icon-color2" alt="" src="{{url_for('static',filename='css/public/iconcolor2.svg')}}" />
            </button>
        </div>
      </div>
    </div>
    <div class="trending col-md-10">
      <button class="trending1">Trending</button>
      <div class="trending-child"></div>
      <div class="row">
        <div class="col">
          <button class="trending-item"></button>
        </div>
        <div class="col">
          <button class="trending-item"></button>
        </div>
        <div class="col">
          <button class="trending-item"></button>
        </div>
        <button class="icon-color-wrapper">
          <img class="icon-color" alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="filter-overlay" style="display:none">
          <div class="frame-group">
            <button class="done-wrapper"><div class="done">DONE</div></button
            ><button class="button">
              <img class="vector-icon2" alt="" src="./public/vector14.svg" />
            </button>
            <div class="genres-wrapper"><b class="genres">Genres</b></div>
            <div class="rated-more-than-wrapper">
              <b class="rated-more-than">Rated more than</b>
            </div>
            <div class="language-wrapper">
              <b class="rated-more-than">Language</b>
            </div>
            <div class="released-after-wrapper">
              <b class="rated-more-than">Released after</b>
            </div>
            <div class="adventure">Adventure</div>
            <div class="english">English</div>
            <div class="hindi">Hindi</div>
            <div class="parent">
              <div class="div">0</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="group">
              <div class="div">1950</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="container1">
              <div class="div">1970</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="frame-div">
              <div class="div">1980</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent1">
              <div class="div">1990</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent2">
              <div class="div">2000</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent3">
              <div class="div">2010</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent4">
              <div class="div">2020</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent5">
              <div class="div8">1960</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent6">
              <div class="div">5</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent7">
              <div class="div">1</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent8">
              <div class="div">6</div>
              <input class="ellipse-input" type="radio" />
            </div>
            <div class="parent9">
              <div class="div12">2</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="parent10">
              <div class="div12">7</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="parent11">
              <div class="div14">3</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="parent12">
              <div class="div14">8</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="parent13">
              <div class="div14">4</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="parent14">
              <div class="div14">9</div>
              <input class="frame-child13" type="radio" />
            </div>
            <div class="action">Action</div>
            <div class="german">German</div>
            <div class="chinese">Chinese</div>
            <div class="comedy">Comedy</div>
            <div class="japanese">Japanese</div>
            <div class="korean">Korean</div>
            <div class="crime">Crime</div>
            <div class="drama">Drama</div>
            <div class="fantasy">Fantasy</div>
            <div class="horror">Horror</div>
            <div class="mystery">Mystery</div>
            <div class="omance">Romance</div>
            <div class="suspense">Suspense</div>
            <div class="sci-fi">Sci-Fi</div>
            <div class="thriller">Thriller</div>
            <input class="rectangle-input" type="checkbox" /><input
              class="frame-child19"
              type="checkbox"
            /><input class="frame-child20" type="checkbox" /><input
              class="frame-child21"
              type="checkbox"
            /><input class="frame-child22" type="checkbox" /><input
              class="frame-child23"
              type="checkbox"
            /><input class="frame-child24" type="checkbox" /><input
              class="frame-child25"
              type="checkbox"
            /><input class="frame-child26" type="checkbox" /><input
              class="frame-child27"
              type="checkbox"
            /><input class="frame-child28" type="checkbox" /><input
              class="frame-child29"
              type="checkbox"
            /><input class="frame-child30" type="checkbox" /><input
              class="frame-child31"
              type="checkbox"
            /><input class="frame-child32" type="checkbox" /><input
              class="frame-child33"
              type="checkbox"
            /><input class="frame-child34" type="checkbox" /><input
              class="frame-child35"
              type="checkbox"
            />
            <div class="rectangle-div"></div>
            <div class="frame-child36"></div>
            <div class="frame-child37"></div>
          </div>
          <button class="filters1">Filters</button>
        </div> -->
</div>
{% endblock %}