{% extends 'base2.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='css/loginotp.css')}}">
{% endblock %}
{% block content %}
    <div class="otp">
      <div class="the-parent">
        <div class="the">the</div>
        <div class="page">page.</div>
        <b class="what-do-i-container"><span>W</span><span class="hat">hat </span><span>D</span><span class="hat">o </span><span>I D</span><span class="hat">o</span></b>
      </div>
      <div class="otp-child"></div>
      <input
        class="otp-item"
        type="password"
        placeholder="######"
        maxlength="6"
      />
      <button class="confirm-wrapper">
        <div class="confirm">Confirm</div>
      </button>
      <div class="wrapper"><b class="b">|</b></div>
      <img class="otp-inner" alt="" src="./public/frame-366@2x.png" /><button
        class="change-number"
      >
        Change Number</button
      ><button class="request-new-code">Request New Code</button>
      <div class="just-one-more">Just one more step</div>
      <div class="enter-the-6">Enter the 6 Digit code we sent you</div>
      <div class="already-have-an-container">
        <span>Already have an account?</span><b class="b1"> </b>
      </div>
      <button class="login" id="login">Login !!</button>
    </div>
{% endblock %}
