{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='css/moviepage2.css')}}">
{% endblock %}
{% block content %}
<div class="movie-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 image">
        <img class="poster" alt="poster" src={{poster}} />
      </div>
      <div class="col-md-6">
        <h1 class="movie-name" id="header">{{movie}}</h1>
        <br>

        <div class="col-md-8">
          <div class="container">
            <div class="row">
              <div class="com-md-4">
                <div class="container-sm">
                  <div class="row">
                    <div class="col-sm">Year: {{year}}</div>
                    <div class="col-sm">Age: {{age}}</div>
                    <div class="col-sm">Runtime: {{runtime}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm">{{genres}}</div>
                    <!-- <div class="col-sm"> | Horror</div>
                    <div class="col-sm"> | Suspense</div> -->
                  </div>
                </div>
              </div>
              <div>
                <div class="container">
                  <div class="stars">

                    <div class="row">
                      {% for i in range(stars) %}
                      <div class="col">
                        <img src="{{url_for('static',filename='css/public/star.svg')}}" alt="">
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie-info">{{overview}}
          <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas
          erat imperdiet sed euismod. Id volutpat lacus laoreet non curabitur
          gravida arcu ac tortor. Sit amet porttitor eget dolor morbi non arcu.
          Interdum velit laoreet id donec ultrices tincidunt. Sed turpis
          tincidunt id aliquet. Egestas erat imperdiet sed euismod. Id volutpat
          lacus laoreet non curabitur gravida arcu ac tortor. Egestas erat
          imperdiet sed euismod. Id volutpat lacus laoreet non curabitur gravida
          arcu ac tortor. -->
        </div>
        <form action="add_bookmark" method="POST">
          <input type="text" id=movie_id name=movie_id value="{{movie_id}}" style="display:none;">
          {% if bookmarked %}
          <button class="btn btn-light bookmark" type="submit" disabled title="Already bookmarked!">
            BOOKMARK
            <img class="id-105-icon" alt="" src="{{url_for('static',filename='css/public/id-105.svg')}}" />
          </button>
          {% else %}
          <button class="btn btn-light bookmark" type="submit">
            BOOKMARK
            <img class="id-105-icon" alt="" src="{{url_for('static',filename='css/public/id-105.svg')}}" />
          </button>
          {% endif %}
        </form>

      </div>
    </div>
  </div>
  <div class="container reviews">
    <div class="row">
      <div class="col">
        <h2 class="user-reviews">
          User Reviews <img alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
        </h2>
      </div>
      <div class="col">
        <button class="add-review"
          onclick="document.getElementById('add_rev').style='display:block'; document.getElementById('rev1').style='display:none'; document.getElementById('rev2').style='display:none';">+
          &nbsp; &nbsp; Review</button>
      </div>
    </div>
    <br>
    <form action=/add_review method=POST class="review-container" id="add_rev" style="display:none;">
      <div class="row">
        <div class="col-3">
          <input type="text" id=movie_id name=movie_id value="{{movie_id}}" style="display:none;">
          <input type="text" id="fname" name="fname" placeholder="Title" class="title-of-the"
            style="color:white; background-color:#1a1a1c;border:1px solid white; padding:5px;">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="review-content">
        <textarea id="w3review" name="w3review" rows="4" cols="80" class="review-content"
          style="color:white; background-color:#1a1a1c;border:1px solid white; padding:5px;">
        </textarea>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <button class="btn btn-light bookmark" type="submit"
            onclick="document.getElementById('add_rev').style='display:none'; document.getElementById('rev1').style='display:block'; document.getElementById('rev2').style='display:block';">SUBMIT</button>
        </div>
      </div>
    </form>
    {% if review != [] %}
    <span class="most-liked-review">&nbsp;MOST LIKED REVIEW&nbsp; &nbsp;</span>
    {% for i in review %}
    <div class="review-container">

      <div class="row">
        <div class="col-3">
          <h3 class="title-of-the">{{i[6]}}</h3>
        </div>
        <div class="col-3">
          <span class="username">{{i[7]}}</span>
          <span class="date" id="date">Apr 08, 2023</span>
        </div>
        <div class="col-3">
          <!-- <form action="" method="post"> -->
            <button type="submit"  style="background:transparent;color:white; border:none;" id="likebtn{{i[0]}}"
            onclick="document.getElementById('likenum{{i[0]}}').innerHTML=1;
            document.getElementById('likebtn{{i[0]}}').style='border:0.1px solid white; background-color:black; color:white; padding:2px;'">
              <img class="vector-icon" alt="" src="{{url_for('static',filename='css/public/like.svg')}}" id="likeimg{{i[0]}}" />
              <label class="div1" id="likenum{{i[0]}}" disabled>{{i[4]}}</label>
            </button>
          <!-- </form> -->
        </div>
        <div class="col-3">
          <form action="" method="post">
            <button type="submit"  style="background:transparent;color:white; border:none;" id="dislikebtn">
              <img class="vector-icon" alt="" src="{{url_for('static',filename='css/public/dislike.svg')}}" />
              <label class="div1" id="dislikenum" disabled>{{i[5]}}</label>
            </button>
          </form>
        </div>
      </div>
      <br>
      <div class="review-content">{{i[3]}}

        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas
        erat imperdiet sed euismod. Id volutpat lacus laoreet non curabitur
        gravida arcu ac tortor. Sit amet porttitor eget dolor morbi non arcu.
        Interdum velit laoreet id donec ultrices tincidunt. Sed turpis
        tincidunt id aliquet. Egestas erat imperdiet sed euismod. Id volutpat
        lacus laoreet non curabitur gravida arcu ac tortor. Egestas erat
        imperdiet sed euismod. Id volutpat lacus laoreet non curabitur gravida
        arcu ac tortor. -->

      </div>
    </div>
    <br>
    {% endfor %}


  </div>

  {% else %}
  No Reviews Yet!
  {% endif %}

  <br>
  <br>
  <div class="container related">
    <h2 class="user-reviews">
      Related <img alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
    </h2>
    <div class="row">
      {% for i in range(5) %}
      <div class="col">
        <a href="{{url_for('movie', movie_id=link[i][0])}}" class="trending-item"
          style="background-image:url({{link[i][1]}})"></a>
      </div>
      {% endfor %}
      <button class="icon-color-wrapper">
        <img class="icon-color" alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
      </button>
    </div>
    <img class="movie-page-without-login-child3" alt="" src="/public/rectangle-9@2x.png" />
  </div>
</div>
{% endblock %}