{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='css/moviepage2.css')}}">
{% endblock %}
{% block content %}
<div class="movie-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 image">
        <img class="poster" alt="poster"
          src="https://i.etsystatic.com/15375993/r/il/840302/1903068907/il_fullxfull.1903068907_ngnz.jpg" />
      </div>
      <div class="col-md-6">
        <h1 class="movie-name" id="header">Godzilla : King of the Monsters</h1>
        <br>

        <div class="col-md-8">
          <div class="container">
            <div class="row">
              <div class="com-md-4">
                <div class="container-sm">
                  <div class="row">
                    <div class="col-sm">2019</div>
                    <div class="col-sm">· PG-13</div>
                    <div class="col-sm">· 2h 12m</div>
                  </div>
                  <div class="row">
                    <div class="col-sm">Action</div>
                    <div class="col-sm"> | Horror</div>
                    <div class="col-sm"> | Suspense</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="container">
                  <div class="stars">

                    <div class="row">
                      {% for i in range(5) %}
                      <div class="col">
                        <img src="{{url_for('static',filename='css/public/star.svg')}}" alt="">
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie-info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas
          erat imperdiet sed euismod. Id volutpat lacus laoreet non curabitur
          gravida arcu ac tortor. Sit amet porttitor eget dolor morbi non arcu.
          Interdum velit laoreet id donec ultrices tincidunt. Sed turpis
          tincidunt id aliquet. Egestas erat imperdiet sed euismod. Id volutpat
          lacus laoreet non curabitur gravida arcu ac tortor. Egestas erat
          imperdiet sed euismod. Id volutpat lacus laoreet non curabitur gravida
          arcu ac tortor.
        </div>
        <button class="btn btn-light bookmark">
          BOOKMARK
          <img class="id-105-icon" alt="" src="{{url_for('static',filename='css/public/id-105.svg')}}" />
        </button>

      </div>
    </div>
  </div>
  <div class="container reviews">
    <div class="row">
      <div class="col">
        <h2 class="user-reviews">
          User Reviews <img alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
        </h2>
      </div>
      <div class="col">
        <button class="add-review">+ &nbsp; &nbsp; Review</button>
      </div>
    </div>
    <br>
    <span class="most-liked-review">&nbsp;MOST LIKED REVIEW&nbsp; &nbsp;</span>
    <div class="review-container">
      <div class="row">
        <div class="col-3">
          <h3 class="title-of-the">Title of the Review</h3>
        </div>
        <div class="col-3">
          <span class="username">Aditya.xyz |</span>
          <span class="date" id="date">Mar 13, 2023</span>
        </div>
        <div class="col-3">
          <img class="vector-icon" alt="" src="{{url_for('static',filename='css/public/like1.svg')}}" />
          <span class="div1" id="likenum">· 500</span>
        </div>
        <div class="col-3">
          <img class="vector-icon" alt="" src="{{url_for('static',filename='css/public/like.svg')}}" />
          <span class="div1" id="dislikenum">· 500</span>
        </div>
      </div>
      <br>
      <div class="review-content">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas
        erat imperdiet sed euismod. Id volutpat lacus laoreet non curabitur
        gravida arcu ac tortor. Sit amet porttitor eget dolor morbi non arcu.
        Interdum velit laoreet id donec ultrices tincidunt. Sed turpis
        tincidunt id aliquet. Egestas erat imperdiet sed euismod. Id volutpat
        lacus laoreet non curabitur gravida arcu ac tortor. Egestas erat
        imperdiet sed euismod. Id volutpat lacus laoreet non curabitur gravida
        arcu ac tortor.

      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container related">
    <h2 class="user-reviews">
      Related <img alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
    </h2>
    <div class="row">
      <div class="col">
        <button class="trending-item"></button>
      </div>
      <div class="col">
        <button class="trending-item"></button>
      </div>
      <div class="col">
        <button class="trending-item"></button>
      </div>
      <button class="icon-color-wrapper">
        <img class="icon-color" alt="" src="{{url_for('static',filename='css/public/iconcolor.svg')}}" />
      </button>
    </div>
    <img class="movie-page-without-login-child3" alt="" src="/public/rectangle-9@2x.png" />
  </div>
</div>
{% endblock %}