{% extends 'base2.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
{% endblock %}
{% block content %}
<div class="sign-up">
  <div class="title-parent">
    <span class="the">the</span>
    <span class="what-do-i-container"><span>W</span><span class="hat">hat </span><span>D</span><span class="hat">o
      </span><span>I D</span><span class="hat">o</span></span>
    <span class="page">page.</span>
  </div>
  <div class="sign-up-child" id="SignUp">
    <form action=/new_user method=POST>
      <input class="form-control" type="text" placeholder="Full Name" id=Name name=Name />
      <input class="form-control" type="email" placeholder="Email" id=Email name=Email />
      <input class="form-control" type="text" placeholder="Username" id=User_Name name=User_Name />
      <input class="form-control" type="password" placeholder="Password" id=Password name=Password />
      <button type=submit class="sign-up-wrapper">
        <div class="sign-up1">Sign Up</div>
      </button>
    </form>
  </div>
  <div class="already-have-an-container">
    <span>Already have an account?</span><b class="b"> </b>
  </div>
  <a class="login" id="login" href="/login">Login !!</a>
</div>

{% endblock %}