.movie-page-without-login-child {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray);
    position: absolute;
    top: 41.38rem;
    left: 62.19rem;
    width: 6.5rem;
    height: 2.75rem;
  }
  .movie-page-without-login-item {
    position: absolute;
    top: 16.25rem;
    left: 67.13rem;
    background-color: var(--color-gray);
    width: 12.88rem;
    height: 1.88rem;
  }
  .movie-page-without-login-inner {
    position: absolute;
    top: 10.63rem;
    left: 9.31rem;
    border-radius: var(--br-xl);
    width: 19.19rem;
    height: 27.44rem;
    object-fit: cover;
  }
  .godzilla-king {
    margin: 0;
    position: absolute;
    top: 11.81rem;
    left: 32.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--font-this-is-the-future);
    color: #d8d9e1;
  }
  .user-reviews {
    margin: 0;
    position: absolute;
    top: calc(50% - 93px);
    left: 11.69rem;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: var(--font-sansation);
  }
  .icon-color,
  .path-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .path-icon {
    height: 2.3%;
    width: 2.58%;
    top: 44%;
    right: 71.87%;
    bottom: 53.71%;
    left: 25.55%;
    opacity: 0.87;
  }
  .icon-color {
    height: 1.8%;
    width: 1.15%;
    top: 44.25%;
    right: 72.54%;
    bottom: 53.96%;
    left: 26.3%;
  }
  .rectangle-div {
    position: absolute;
    top: calc(50% - 96px);
    left: 10.75rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-brown);
    width: 0.25rem;
    height: 2.44rem;
  }
  .related {
    position: absolute;
    top: calc(50% + 197px);
    left: 12rem;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: var(--font-sansation);
  }
  .icon-color1,
  .path-icon1 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .path-icon1 {
    height: 2.3%;
    width: 2.58%;
    top: 63.15%;
    right: 76.94%;
    bottom: 34.55%;
    left: 20.48%;
    opacity: 0.87;
  }
  .icon-color1 {
    height: 1.8%;
    width: 1.15%;
    top: 63.4%;
    right: 77.61%;
    bottom: 34.8%;
    left: 21.24%;
  }
  .movie-page-without-login-child1 {
    position: absolute;
    top: calc(50% + 194px);
    left: 11.06rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-brown);
    width: 0.25rem;
    height: 2.44rem;
  }
  .blah-blah-shit {
    position: absolute;
    top: 19.25rem;
    left: 33.75rem;
    font-size: var(--font-size-5xl);
    font-weight: 300;
    font-family: var(--font-sansation-light);
    display: inline-block;
    width: 40.31rem;
    height: 13.69rem;
  }
  .suspense {
    position: absolute;
    top: 17.06rem;
    left: 43.13rem;
    color: var(--color-darkgray);
  }
  .action {
    margin: 0;
  }
  .action1,
  .pg-13-2h-container {
    position: absolute;
    left: 33.75rem;
  }
  .pg-13-2h-container {
    top: 15.75rem;
    font-weight: 700;
    white-space: pre-wrap;
  }
  .action1 {
    top: 17.06rem;
    color: var(--color-darkgray);
  }
  .div,
  .review {
    position: absolute;
    color: var(--color-gainsboro-100);
    text-align: center;
  }
  .review {
    bottom: 51.19rem;
    left: 63.94rem;
    font-size: var(--font-size-xl);
    font-family: var(--font-sansation);
  }
  .div {
    bottom: 51.31rem;
    left: 62.56rem;
    font-size: 2.25rem;
    font-weight: 300;
    font-family: var(--font-sansation-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.06rem;
    height: 1.56rem;
  }
  .movie-page-without-login-child2 {
    position: absolute;
    top: 46.69rem;
    left: 11rem;
    border-radius: 15px;
    background-color: var(--color-gray);
    box-shadow: 1px 2px 5px #a1a1a1;
    width: 57.19rem;
    height: 9.81rem;
  }
  .adityaxyz1 {
    margin: 0;
    padding-left: 1.36rem;
  }
  .adityaxyz,
  .mar-13-2023 {
    position: absolute;
    text-align: center;
  }
  .adityaxyz {
    top: 47.75rem;
    left: 24.56rem;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .mar-13-2023 {
    top: 47.88rem;
    left: 31.63rem;
    font-size: var(--font-size-xs);
    color: var(--color-darkgray);
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 1.59%;
    width: 1.7%;
    top: 50.4%;
    right: 34.41%;
    bottom: 48.02%;
    left: 63.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1 {
    top: 49.8%;
    right: 42.67%;
    bottom: 48.61%;
    left: 55.63%;
  }
  .lorem-ipsum-dolor-container {
    position: absolute;
    top: 49.69rem;
    left: 11.88rem;
    font-weight: 300;
    font-family: var(--font-sansation-light);
    display: inline-block;
    width: 56.13rem;
    height: 6.44rem;
  }
  .polygon-icon {
    position: absolute;
    top: 45.06rem;
    left: 11.88rem;
    border-radius: 1px;
    width: 8rem;
    height: 0.81rem;
  }
  .most-liked-review {
    position: absolute;
    top: 45.06rem;
    left: 12rem;
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-family: var(--font-moon);
    color: var(--color-brown);
  }
  .title-of-the {
    margin: 0;
    position: absolute;
    top: 47.19rem;
    left: 11.69rem;
    font-size: var(--font-size-5xl);
    font-weight: 700;
    font-family: var(--font-sansation);
  }
  .div1 {
    top: 47.38rem;
    left: 52.25rem;
    font-size: var(--font-size-xl);
    font-family: var(--font-ropa-sans);
  }
  .div1,
  .div2,
  .horror {
    position: absolute;
  }
  .div2 {
    top: 47.38rem;
    left: 59.69rem;
    font-size: var(--font-size-xl);
    font-family: var(--font-ropa-sans);
  }
  .horror {
    top: 17.06rem;
    left: 38.44rem;
    color: var(--color-darkgray);
  }
  .movie-page-without-login-child3,
  .movie-page-without-login-child4,
  .movie-page-without-login-child5,
  .rectangle-icon {
    position: absolute;
    top: 62.75rem;
    left: 9.31rem;
    border-radius: var(--br-xl);
    width: 13.25rem;
    height: 17.94rem;
    object-fit: cover;
  }
  .movie-page-without-login-child3,
  .movie-page-without-login-child4,
  .movie-page-without-login-child5 {
    left: 24.5rem;
  }
  .movie-page-without-login-child4,
  .movie-page-without-login-child5 {
    left: 39.69rem;
  }
  .movie-page-without-login-child5 {
    left: 54.88rem;
  }
  .vector-icon2,
  .vector-icon3,
  .vector-icon4,
  .vector-icon5,
  .vector-icon6 {
    position: absolute;
    height: 1.97%;
    width: 2.18%;
    top: 17.17%;
    right: 23.24%;
    bottom: 80.86%;
    left: 74.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon3,
  .vector-icon4,
  .vector-icon5,
  .vector-icon6 {
    right: 20.24%;
    left: 77.58%;
  }
  .vector-icon4,
  .vector-icon5,
  .vector-icon6 {
    right: 17.26%;
    left: 80.56%;
  }
  .vector-icon5,
  .vector-icon6 {
    right: 14.29%;
    left: 83.54%;
  }
  .vector-icon6 {
    right: 11.31%;
    left: 86.52%;
  }
  .image-2-icon {
    position: absolute;
    top: 1.81rem;
    left: 1.81rem;
    width: 6.75rem;
    height: 6.75rem;
    object-fit: cover;
  }
  .community,
  .login {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    left: 55rem;
    font-size: var(--font-size-xl);
    font-weight: 300;
    font-family: var(--font-sansation-light);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .login {
    left: 67.56rem;
  }
  .vector-icon7,
  .vector-icon8 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -5.56%;
    right: 5.56%;
    bottom: 5.56%;
    left: -5.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon8 {
    height: 35.28%;
    width: 35.28%;
    top: 70.28%;
    right: -5.56%;
    bottom: -5.56%;
    left: 70.28%;
  }
  .vector-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0.56rem;
    left: 30.63rem;
    width: 1.13rem;
    height: 1.13rem;
  }
  .search {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-weight: 300;
  }
  .nav-bar-child {
    border: 0;
    background-color: rgba(74, 74, 78, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 22px;
    width: 33rem;
    height: 2.31rem;
    cursor: default;
  }
  .filters,
  .nav-bar {
    position: absolute;
    font-size: var(--font-size-xl);
    font-family: var(--font-sansation-light);
  }
  .filters {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 0.5rem;
    left: 45rem;
    font-weight: 300;
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .nav-bar {
    top: 3.56rem;
    left: 13.75rem;
    width: 70.75rem;
    height: 2.31rem;
  }
  .page,
  .the {
    position: absolute;
    top: 12.31rem;
    left: 3.56rem;
    font-size: var(--font-size-18xl);
    font-family: var(--font-bright-sunshine-demo);
  }
  .page {
    top: 39.75rem;
  }
  .i,
  .w {
    color: var(--color-crimson);
  }
  .i {
    margin: 0;
  }
  .o {
    color: var(--color-white);
  }
  .what-do-i-container {
    position: absolute;
    top: 18.13rem;
    left: 3.56rem;
    font-size: 2.81rem;
    display: inline-block;
    font-family: var(--font-ceuretas);
    width: 4.88rem;
    height: 19rem;
    text-shadow: 2px 2px 4px #950740;
  }
  .movie-page-without-login {
    position: relative;
    background-color: var(--color-gray);
    width: 100%;
    height: 94.63rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  