body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-sansation-light: "Sansation Light";
  --font-special-elite: "Special Elite";
  --font-sansation: Sansation;
  --font-ceuretas: CEURETAS;
  --font-bright-sunshine-demo: "Bright Sunshine Demo";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-18xl: 37px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-61xl: 80px;

  /* Colors */
  --color-white: #fff;
  --color-brown-100: #950740;
  --color-black: #000;
  --color-gray-100: #767676;
  --color-gray-200: #1a1a1c;
  --color-gray-300: #040404;
  --color-crimson: #c3073f;
  --color-darkslategray: rgba(74, 74, 78, 0.5);
  --color-gainsboro-100: #d9d9d9;

  /* border radiuses */
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-3xl: 22px;
  --br-8xs: 5px;
}
