.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -5.56%;
  right: 5.56%;
  bottom: 5.56%;
  left: -5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 35.28%;
  width: 35.27%;
  top: 70.28%;
  right: -5.55%;
  bottom: -5.56%;
  left: 70.28%;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 490px;
  width: 18px;
  height: 18px;
}
.search {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 300;
}
.filters {
  border: 0;
  position: absolute;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  top: 8px;
  left: 720px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-sansation-light);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}

.frame{
  position: absolute;
  top: 0;
  /* left: 6%; */
  width: 100%;
  background: url('./public/wallpaperflare-1@2x.png');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position-x: center;
  border-radius: var(--br-mini);
  height: 100%;
}
.display-inner,
.frame-child {
  position: absolute;
  width: 14px;
  height: 14px;
}
.frame-child {
  top: 0;
  left: 0;
}
.display-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 106%;
  left: 40%;
}
.frame-item {
  position: absolute;
  top: -10px;
  left: -11px;
  width: 36px;
  height: 36px;
}
.display-child {
  left: 50%;
}
.display-child,
.display-inner1,
.display-inner2,
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 106%;
  width: 14px;
  height: 14px;
}
.frame-button {
  left: 55%;
}
.display-inner1 {
  left: 60%;
}
.display-inner2 {
  left: 45%;
}
.display {
  position: absolute;
  top: 12%;
  left: 11%;
  width:55%;
  height: 40%
}
.trending1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 625px;
  left: calc(11.5% + 15px);
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.recommended{
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1000px;
  left: calc(11.5% + 15px);
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.trending-child {
  position: absolute;
  top: 630px;
  left: 11.5%;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  width: 4px;
  height: 39px;
}
.recommended-child {
  position: absolute;
  top: 805px;
  left: 11.5%;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  width: 4px;
  height: 39px; 
}
.trending-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60px;
  border-radius: var(--br-xl);
  width: 190px;
  height: 265px;
  background-image: url(./public/rectangle3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.recommending{
  position: relative;
  top: calc(50% + 350px);
  left: 12%;
  width:85%;
  height: 325px;
  overflow-y:hidden;
  /* ADDED SCROLLBAR */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.trending-item1{
  left: 10px ;
  
}
.trending-item2{
  left: 280px ;
  
}
.trending-item3{
  left: 550px ;
  
}
.trending-item4{
  left: 820px ;
  
}
.trending-item5{
  left: 1090px ;
  
}
.icon-color-wrapper {
  width: 20px;
  height: 28px;
}
.icon-color-wrapper{
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  left: 1270px;
  top: 65px;

}
/* .icon-color-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 56px;
  right:130px;
} */
.trending {
  position: relative;
  top: calc(50% + 124px);
  left: 12%;
  width:85%;
  height: 325px;
  overflow-y:hidden;
  /* ADDED SCROLLBAR */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.community-child {
  position: relative;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: #7a0433;
  width: 361px;
  height: 462px;
}
.wp5558867-aesthetic-profile-pi-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 80px;
  height: 132.83px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.winniethepooh,
.wp5558867-aesthetic-profile-pi-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.wp5558867-aesthetic-profile-pi-wrapper {
  top:10px;
  left: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.75);
  background: url('./public/wp5558867aestheticprofilepicturewallpapers-1@2x.png');
  background-size: contain;
  border-radius:35px;
  width: 70px;
  height: 70px;
}
.winniethepooh {
  top: 21px;
  left: 85px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: #c30c3f;
  text-align: right;
  display: inline-block;
  text-shadow: 1px 1px 4px #cb8ea0;
}
.mar-1-2023 {
  position: absolute;
  top: 23px;
  left: 234px;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 100px;
  left: 40px;
  font-size: var(--font-size-lg);
  font-family: var(--font-special-elite);
  color: #262525;
  display:flex;
  text-align: center;
  width: 240px;
  height: 350px;
}
.title-of-the {
  position: absolute;
  top: 50px;
  left: 109px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-sansation);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.23);
}
.icon-color1,
.path-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-icon {
  height: 13.15%;
  width: 15.15%;
  top: 44.95%;
  right: -2.43%;
  bottom: 41.9%;
  left: 87.28%;
  opacity: 0.87;
}
.icon-color1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon-color-container,
.top-in-community {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.icon-color-container {
  top: 183.67px;
  left: 294px;
  width: 21.96px;
  height: 40.72px;
  rotate: 180deg;
}
.top-in-community {
  top: -36px;
  left: 0px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.icon-color2 {
  position: absolute;
  height: 99.31%;
  width: 98.66%;
  top: 0.08%;
  right: 0.17%;
  bottom: 0.61%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-color-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 183px;
  left: 5px;
  width: 22.49px;
  height: 41.01px;
}
.frame-parent {
  position: absolute;
  top: 49px;
  left: 19px;
  border-radius: var(--br-xl);
  background-color: #939397;
  width: 324px;
  height: 396px;
  cursor: pointer;
}
.community1 {
  position: absolute;
  top: 121px;
  left: 67%;
  width: 361px;
  height: 462px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}





/* Main container */
.movie-homepage-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image:url("bg.jpg");
  width: 100%;

  background-attachment: fixed;
  background-size: cover ;
  width: 100%;
  height: 1024px;
}

.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 108px;
  object-fit: cover;
}

.mainpage-without-login {
  position: relative;
  width: 100%;
  text-align: left;

  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sansation-light);
}

.arrow{
  position: relative;
  width: 150px;
  height: 250px;
  /* margin-top: 66px; */
  background-color:azure  ;
  /* border: none; */
  border-radius: 0 20px 20px 0;
  opacity: 10%;
  left: 1370px;
  top:66px;
}

.arrow:hover{
  background-color:var(--color-gray-200);
  opacity: 50%;

}


@media screen and (min-width:0px) {
  .trending {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 800px) {

  .community1{
    display:none;
  }
  .display-child,
  .display-inner1,
  .display-inner2,
  .frame-button ,.display-inner{display:none;}
  .display {left:4%;width:92%; height: 307.2px;}
  .trending {width: 95%;left: 2%;top: 472.16px;}
  .trending-child{ left: 3%;top: 466.16px;}
  .trending1{left: calc(3% + 15px);top: 461.16px;}
  .movie-homepage-1{height:860.16px; top:200px;}
}
@media screen and (max-width: 950px) and (min-width: 800px) {

  .community1{
    display:none;
  }
  
  .display {left:4%;width:92%; height: 368.64px;}
  .trending {width: 95%;left: 2%; top: 554.08px;}
  .trending-child{ left: 3%;top: 548.08px;}
  .trending1{left: calc(3% + 15px); top: 543.08px;}
  .movie-homepage-1{height:942.08px ;}

}


@media screen and (max-width: 1100px) and (min-width: 950px) {

  .community1{
    display:none;
  }
  .display {left:4%;width:92%; height: 44%;}
  .trending {width: 95%;left: 2%;}
  .trending-child{ left: 3%;}
  .trending1{left: calc(3% + 15px);}

}

@media screen and (max-width: 1400px) and (min-width:1100px) {
  .trending {left: 2%; width: 95%;}
  .display {left: calc(15px + 2%);width:62%;}
  .community1{right: -20px}
  .trending-child{ left: 3%;}
  .trending1{left: calc(3% + 15px);}
}

