.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -5.56%;
  right: 5.56%;
  bottom: 5.56%;
  left: -5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 35.28%;
  width: 35.27%;
  top: 70.28%;
  right: -5.55%;
  bottom: -5.56%;
  left: 70.28%;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 490px;
  width: 18px;
  height: 18px;
}
.search {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 300;
}
.filters {
  border: 0;
  position: absolute;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  top: 8px;
  left: 720px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-sansation-light);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}

.frame{
  position: absolute;
  top: 0;
  left: 0;
  width: 635px;
  background: url('./public/wallpaperflare-1@2x.png');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position-x: center;
  border-radius: var(--br-mini);
  height: 383px;
}
.display-inner,
.frame-child {
  position: absolute;
  width: 14px;
  height: 14px;
}
.frame-child {
  top: 0;
  left: 0;
}
.display-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 402px;
  left: 323px;
}
.frame-item {
  position: absolute;
  top: -10px;
  left: -11px;
  width: 36px;
  height: 36px;
}
.display-child {
  left: 411px;
}
.display-child,
.display-inner1,
.display-inner2,
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 402px;
  width: 14px;
  height: 14px;
}
.frame-button {
  left: 455px;
}
.display-inner1 {
  left: 499px;
}
.display-inner2 {
  left: 367px;
}
.display {
  position: absolute;
  top: 121px;
  left: 160px;
}
.trending1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 159.5px);
  left: 26px;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.trending-child {
  position: absolute;
  top: calc(50% - 162.5px);
  left: 11px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  width: 4px;
  height: 39px;
}
.trending-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60px;
  border-radius: var(--br-xl);
  width: 190px;
  height: 265px;
  background-image: url(./public/rectangle3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.icon-color,
.icon-color-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 28px;
}
.icon-color-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 179px;
  right:0;
}
.trending {
  position: absolute;
  top: calc(50% + 124px);
  right:10px;
  width:88vw;
  height: 325px;
}
.community-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: #7a0433;
  width: 361px;
  height: 462px;
}
.wp5558867-aesthetic-profile-pi-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 80px;
  height: 132.83px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.winniethepooh,
.wp5558867-aesthetic-profile-pi-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.wp5558867-aesthetic-profile-pi-wrapper {
  top:10px;
  left: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.75);
  background: url('./public/wp5558867aestheticprofilepicturewallpapers-1@2x.png');
  background-size: contain;
  border-radius:35px;
  width: 70px;
  height: 70px;
}
.winniethepooh {
  top: 21px;
  left: 85px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: #c30c3f;
  text-align: right;
  display: inline-block;
  text-shadow: 1px 1px 4px #cb8ea0;
}
.mar-1-2023 {
  position: absolute;
  top: 23px;
  left: 234px;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 86px;
  left: 35px;
  font-size: var(--font-size-lg);
  font-family: var(--font-special-elite);
  color: #262525;
  display: flex;
  align-items: center;
  width: 262px;
  height: 292px;
}
.title-of-the {
  position: absolute;
  top: 50px;
  left: 109px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-sansation);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.23);
}
.icon-color1,
.path-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-icon {
  height: 13.15%;
  width: 15.15%;
  top: 44.95%;
  right: -2.43%;
  bottom: 41.9%;
  left: 87.28%;
  opacity: 0.87;
}
.icon-color1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon-color-container,
.top-in-community {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.icon-color-container {
  top: 183.67px;
  left: 297.13px;
  width: 21.96px;
  height: 40.72px;
}
.top-in-community {
  top: -36px;
  left: -4px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.icon-color2 {
  position: absolute;
  height: 99.31%;
  width: 98.66%;
  top: 0.08%;
  right: 0.17%;
  bottom: 0.61%;
  left: 1.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-color-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 183px;
  left: 5px;
  width: 22.49px;
  height: 41.01px;
}
.frame-parent {
  position: absolute;
  top: 49px;
  left: 19px;
  border-radius: var(--br-xl);
  background-color: #939397;
  width: 324px;
  height: 396px;
  cursor: pointer;
}
.community1 {
  position: absolute;
  top: 121px;
  right:0;
  /* width: 361px;
  height: 462px; */
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}

/* TITLE */
.page,
.the {
  position: absolute;
  left: 0;
  color:white;
}
.the {
  top: 0;
}
.page {
  top: 600px;
}
.w {
  color: var(--color-crimson);
}
.i,
.what {
  margin: 0;
}
.i {
  color: var(--color-crimson);
}
.o {
  color: var(--color-white);
}
.what-do-i-container {
  position: absolute;
  top: 93px;
  left: 0;
  font-size: 45px;
  display: inline-block;
  font-family: var(--font-ceuretas);
  width: 78px;
  height: 304px;
  text-shadow: 2px 2px 4px #950740;
}
.title {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 78px;
  height: 490px;
  font-size: var(--font-size-18xl);
  font-family: var(--font-bright-sunshine-demo);
}


/* Main container */
.movie-homepage-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1024px;
}

.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 108px;
  object-fit: cover;
}

.mainpage-without-login {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sansation-light);
}

/* .done {
  position: absolute;
  top: 6px;
  left: 24px;
  font-size: var(--font-size-xl);
  font-family: var(--font-special-elite);
  color: var(--color-white);
  text-align: center;
}
.done-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-crimson);
  position: absolute;
  top: 458px;
  left: 130px;
  border-radius: var(--br-xl);
  width: 107px;
  height: 33px;
  overflow: hidden;
}
.vector-icon2 {
  height: 81.83%;
  width: 81.82%;
  top: 9.08%;
  right: 9.09%;
  bottom: 9.09%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button,
.genres,
.vector-icon2 {
  position: absolute;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 18px;
  left: 332px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.genres {
  top: calc(50% - 11px);
  left: calc(50% - 28.5px);
}
.genres-wrapper {
  position: absolute;
  top: 18px;
  left: 19px;
  border-radius: var(--br-3xs);
  width: 83px;
  height: 26px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-brown-100);
  font-family: var(--font-sansation);
}
.rated-more-than {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 26.5px);
}
.language-wrapper {
  position: absolute;
  left: 19px;
  border-radius: var(--br-3xs);
  width: 83px;
  height: 26px;
  font-size: var(--font-size-lg);
  color: var(--color-brown-100);
  font-family: var(--font-sansation);
}
.rated-more-than-wrapper {
  top: 164px;
}
.rated-more-than-wrapper,
.released-after-wrapper {
  position: absolute;
  left: 19px;
  border-radius: var(--br-3xs);
  width: 83px;
  height: 26px;
  font-size: var(--font-size-lg);
  color: var(--color-brown-100);
  font-family: var(--font-sansation);
}
.language-wrapper {
  top: 364px;
}
.released-after-wrapper {
  top: 264px;
}
.adventure {
  position: absolute;
  top: 49px;
  left: 54px;
  text-align: center;
}
.english {
  top: 399px;
  left: 54px;
}
.div,
.english,
.hindi {
  position: absolute;
}
.hindi {
  top: 425px;
  left: 54px;
}
.div {
  top: calc(50% - 8.5px);
  left: calc(50% + 6px);
}
.ellipse-input {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 4px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.container1,
.frame-div,
.group {
  position: absolute;
  width: 34px;
  height: 17px;
}
.group,
.parent {
  left: 33px;
}
.parent {
  top: 199px;
}
.parent,
.parent1 {
  position: absolute;
  width: 34px;
  height: 17px;
}
.container,
.frame-div,
.group {
  top: 299px;
}
.container {
  left: 189px;
}
.frame-div {
  left: 267px;
}
.parent1 {
  top: 325px;
  left: 33px;
}
.parent2 {
  position: absolute;
  left: 111px;
}
.parent2,
.parent3,
.parent4 {
  top: 325px;
  width: 34px;
  height: 17px;
}
.parent3 {
  position: absolute;
  left: 189px;
}
.parent4 {
  left: 267px;
}
.div8,
.parent4,
.parent5 {
  position: absolute;
}
.div8 {
  top: calc(50% - 8.5px);
  left: calc(50% + 6px);
  opacity: 0.9;
}
.parent5 {
  top: 299px;
  left: 111px;
}
.parent5,
.parent6,
.parent7 {
  width: 34px;
  height: 17px;
}
.parent6 {
  position: absolute;
  top: 225px;
  left: 33px;
}
.parent7 {
  top: 199px;
  left: 100px;
}
.div12,
.parent7,
.parent8 {
  position: absolute;
}
.parent8 {
  top: 225px;
  left: 100px;
  width: 34px;
  height: 17px;
}
.div12 {
  top: calc(50% - 8.5px);
  left: calc(50% + 1.5px);
}
.frame-child13 {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.parent10,
.parent9 {
  position: absolute;
  left: 173px;
  width: 33px;
  height: 17px;
}
.parent9 {
  top: 199px;
}
.parent10 {
  top: 225px;
}
.div14 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% + 1px);
}
.parent11 {
  position: absolute;
  top: 199px;
  width: 34px;
  height: 17px;
}
.parent11,
.parent12 {
  left: 240px;
}
.parent12,
.parent13,
.parent14 {
  position: absolute;
  width: 34px;
  height: 17px;
}
.parent12 {
  top: 225px;
}
.parent13,
.parent14 {
  top: 199px;
  left: 308px;
}
.parent14 {
  top: 225px;
}
.action {
  top: 49px;
}
.action,
.chinese,
.german {
  position: absolute;
  left: 159px;
}
.german {
  top: 399px;
}
.chinese {
  top: 425px;
}
.comedy {
  top: 49px;
}
.comedy,
.japanese,
.korean {
  position: absolute;
  left: 261px;
}
.japanese {
  top: 399px;
}
.korean {
  top: 425px;
}
.crime {
  left: 54px;
}
.crime,
.drama,
.fantasy {
  position: absolute;
  top: 75px;
}
.drama {
  left: 159px;
}
.fantasy {
  left: 261px;
}
.horror {
  left: 54px;
}
.horror,
.mystery,
.omance {
  position: absolute;
  top: 101px;
}
.mystery {
  left: 159px;
}
.omance {
  left: 261px;
}
.sci-fi {
  position: absolute;
  top: 127px;
}
.suspense {
  left: 54px;
}
.suspense,
.thriller {
  position: absolute;
  top: 127px;
}
.sci-fi {
  left: 159px;
}
.thriller {
  left: 261px;
}
.frame-child19,
.frame-child20 {
  left: 37px;
}
.frame-child19,
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23,
.frame-child24,
.frame-child25,
.frame-child26,
.rectangle-input {
  cursor: pointer;
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}
.rectangle-input {
  top: 53px;
  left: 37px;
}
.frame-child19 {
  top: 403px;
}
.frame-child20 {
  top: 429px;
}
.frame-child21 {
  top: 53px;
  left: 142px;
}
.frame-child22,
.frame-child23 {
  left: 142px;
}
.frame-child22 {
  top: 403px;
}
.frame-child23 {
  top: 429px;
}
.frame-child24 {
  top: 53px;
  left: 244px;
}
.frame-child25,
.frame-child26 {
  left: 244px;
}
.frame-child25 {
  top: 403px;
}
.frame-child26 {
  top: 429px;
}
.frame-child27 {
  cursor: pointer;
  position: absolute;
  top: 79px;
  left: 37px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}
.frame-child28,
.frame-child29 {
  top: 79px;
}
.frame-child28,
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34,
.frame-child35 {
  cursor: pointer;
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}
.frame-child28 {
  left: 142px;
}
.frame-child29 {
  left: 244px;
}
.frame-child30 {
  top: 105px;
  left: 37px;
}
.frame-child31,
.frame-child32 {
  top: 105px;
}
.frame-child31 {
  left: 142px;
}
.frame-child32 {
  left: 244px;
}
.frame-child33 {
  top: 131px;
  left: 37px;
}
.frame-child34,
.frame-child35 {
  top: 131px;
}
.frame-child34 {
  left: 142px;
}
.frame-child35 {
  left: 244px;
}
.frame-child36,
.frame-child37,
.rectangle-div {
  position: absolute;
  left: 123px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  width: 2px;
  height: 126px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 160px;
}
.frame-child36 {
  top: 360px;
}
.frame-child37 {
  top: 260px;
}
.filters1,
.frame-group {
  position: absolute;
  left: 0;
}
.frame-group {
  top: 39px;
  border-radius: var(--br-mini);
  background-color: rgba(211, 210, 213, 0.9);
  width: 372px;
  height: 512px;
  overflow: hidden;
}
.filters1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-sansation-light);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 10px #ff5c7e;
}
.filter-overlay {
  position: absolute;
  top: 225px;
  left: 1491px;
  width: 372px;
  height: 587px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-special-elite);
}
 */
