* {
    box-sizing: border-box;
}

.movie-page {
    position: relative;
    height: 500vh;
    background-attachment: fixed;
    color: white;
    top: 2rem;

}

.poster {
    position: relative;
    left: 17%;
    /* top: 6.25rem;
    left: 9.31rem; */
    border-radius: var(--br-xl);
    width: 19.19rem;
    height: 27.44rem;
    object-fit: cover;
}

.movie-name {
    left:10%;
    margin: 0;
    position: relative;
    /* top: 7.44rem;
    left: 32.5rem; */
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--font-this-is-the-future);
    color: #d8d9e1;
}

.movie-info {
    left:10%;
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 300;
    font-family: var(--font-sansation-light);
    display: inline-block;
    width: 80%;
    height: 13.69rem;

}

.bookmark {
    left:10%;
    cursor: pointer;
    padding: 5px;
    background-color: var(--color-gainsboro-100);
    position: relative;
    border-radius: 25px;
    width: 13rem;
    height: 2.69rem;
    vertical-align: center;
    font-size: 1.38rem;
    font-weight: 600;
    font-family: var(--font-roboto), sans-serif;
    color: black;
    border: 2px solid white;
}

.stars {
    left:10%;
    margin: 10px 0;
}

.reviews {
    position: relative;
    top: 5rem;
    left: 4rem;
}

.add-review {
    position: absolute;
    right: 5rem;
    color: white;
    font-size: var(--font-size-11xl);
    font-family: sans-serif, roboto;
    width: 11.88rem;
    height: 2.69rem;
    vertical-align: center;
    font-size: 1.38rem;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #1a1a1c;
}

.most-liked-review {
    position: relative;
    left: 2rem;
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-family: var(--font-moon);
    color: brown;
    background-color: white;
}

.title-of-the {
    margin: 0;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: inherit;
}

.review-container {
    margin: 5px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
}

.related {
    position: relative;
    top: 5rem;
    left: 4rem;
}

.trending-item {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 60px;
    border-radius: var(--br-xl);
    width: 190px;
    height: 265px;
    background-image: url(./public/rectangle3@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.icon-color,
.icon-color-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 28px;
}

.icon-color-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 179px;
    right: 0;
}