.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}


.labels {
    font-size: 11px
}

.profile-container{
    position:relative;
    left:2rem;
    right:0;
    width:60vw;
    font-family: var(--font-sansation);
}
.whitebg{
    background-color: white;
}
.bookmark {
    cursor: pointer;
    border: 0;
    padding: 5px;
    position: relative;
    border-radius: 40px;
    width: 13.88rem;
    height: 3.69rem;
    vertical-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-roboto), sans-serif;
    color: white;
}
.about-yourself{
    width:100%;
    background-color:#1a1a1c;
    overflow:cover;
    overflow-y: hidden;
    height:8rem;
    color:white;
    font-family: var(--font-sansation);
    padding:1rem;
    border-radius: 2rem;;
}
h2{
    font-family: var(--font-sansation);
}
.title-of-the {
    margin: 0;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: inherit;
}

.review-container {
    margin: 5px;
    border: 2px solid;
    background-color: #1a1a1c;
    color:white;
    border-radius: 25px;
    padding: 20px;
}