.related {
    position: relative;
    top: 5rem;
    left: 4rem;
}

.trending-item {
    display:flex;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 60px;
    border-radius: var(--br-xl);
    width: 190px;
    height: 265px;
    background-image: url(./public/rectangle3@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.icon-color,
.icon-color-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 28px;
}

.icon-color-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 179px;
    right: 0;
}

.remove{
    
}