
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(102, 102, 102);
  opacity: 100; /* Firefox */
  font-size: 17px;
}

.page,
.the {
  position: relative;
  /* top: 0; */
  /* left: 0; */
  display: inline-block;

}/*
.page {

  width: 169px;
} */
.hat {
  color: var(--color-white);
}
.what-do-i-container {
  position: relative;
  display: inline-block;
  /* top: -30px; */
  font-size: var(--font-size-91xl);
  font-family: var(--font-ceuretas);
  text-align: center;
  place-items: center;
  text-shadow: 2px 2px 4px #950740;
  color: var(--color-crimson);
}
.title-parent {
  position: relative;
  display: inline-block;
  width: 100vw;
  place-items: center;
  text-align: center;
  top: 180px;
  width: 100vw;
  height: 110px;
  font-size: var(--font-size-61xl);
  color: var(--color-white);
  font-family: var(--font-bright-sunshine-demo);
}
.sign-up-child {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  width: 285px;
  height: 325px;
  margin: 0 auto;
  top: 280px;
  padding:10px;
  place-items: center;
  /* transform: translateX(-50%); */
}
.form-control{
  /* top:10%; */
  width: 80%;
  margin: 15px auto;
}
/* .rectangle-input,
.sign-up-child1,
.sign-up-inner,
.sign-up-item {
  border: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 352px;
  left: 601px;
  border-radius: var(--br-3xs);
  width: 223px;
  height: 41px;
  font-size: 17px;
  padding-left: 15px;
}
.rectangle-input,
.sign-up-child1,
.sign-up-inner {
  top: 403px;
  left: 602px;
  height: 45px;
  font-size: 17px;
  padding-left: 15px;
}
.rectangle-input,
.sign-up-child1 {
  top: 458px;
  left: 601px;
}
.sign-up-child1 {
  top: 513px;
  left: 600px;
}
.email-mobile,
.full-name,
.username {
  position: relative;
  top: 362px;
  left: 615px;
}
.email-mobile,
.username {
  top: 415px;
}
.username {
  top: 470px;
}
.password,
.sign-up1 {
  position: relative;
  top: 525px;
  left: 614px;
}*/
.sign-up1 {
  top: 6px;
  left: 17px;
  font-size: var(--font-size-xl);
  font-family: var(--font-special-elite);
  color: var(--color-white);
  text-align: center;
}
.sign-up-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-crimson);
  position: relative;
  border-radius: var(--br-xl);
  width: 107px;
  height: 33px;
  overflow: hidden;
}
.b {
  font-family: var(--font-sansation);
  color: var(--color-crimson);
}
.already-have-an-container,
.login {
  position: relative;
  top: 350px;
  /* left: 550px; */
  color: var(--color-white);
}
.login {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  /* left: 820px; */
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-sansation);
  color: var(--color-crimson);
  text-align: center; 
  display: inline-block;
}

.sign-up {
  position: relative;
  width: 100%;
  top:-130px;
  height: 1000px;
  place-items: center;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-special-elite);
}
#login_icon{
  position:absolute;
  /* top:370px;
  left:690px; */
}